.cssload-loader * {
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
}

.cssload-loader {
	position: absolute;
	left: 50%;
	
	width: 125px;
	height: 125px;
	
	margin-top: -62px;
	margin-left: -62px;
	
	perspective: 250px;
	transform-type: preserve-3d;
		-o-transform-type: preserve-3d;
		-ms-transform-type: preserve-3d;
		-webkit-transform-type: preserve-3d;
		-moz-transform-type: preserve-3d;
 }

.cssload-square {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	
	width: 100%;
	height: 100%;
	
	perspective: 375px;
		-o-perspective: 375px;
		-ms-perspective: 375px;
		-webkit-perspective: 375px;
		-moz-perspective: 375px;
	transform-type: preserve-3d;
		-o-transform-type: preserve-3d;
		-ms-transform-type: preserve-3d;
		-webkit-transform-type: preserve-3d;
		-moz-transform-type: preserve-3d;
	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
}

.cssload-square--mini {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 25%;
	height: 25%;
	
	margin-top: 0;
	margin-left: 0;
	
	perspective: 250px;
		-o-perspective: 250px;
		-ms-perspective: 250px;
		-webkit-perspective: 250px;
		-moz-perspective: 250px;
	transform-type: preserve-3d;
		-o-transform-type: preserve-3d;
		-ms-transform-type: preserve-3d;
		-webkit-transform-type: preserve-3d;
		-moz-transform-type: preserve-3d;
	transform-origin: 50% 50%;
		-o-transform-origin: 50% 50%;
		-ms-transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		-moz-transform-origin: 50% 50%;
	transform: translateZ(125px) rotateX(20deg) rotateY(-10deg);
		-o-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg);
		-ms-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg);
		-webkit-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg);
		-moz-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg);
	
	background-color: rgb(30,63,87);
	
	animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
		-o-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
		-ms-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
		-webkit-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
		-moz-animation: cssload-squaremini 4.6s cubic-bezier(.38,.04,.38,.99) infinite;
}

.cssload-square--mini:nth-child(4n+2) {
	left: 25%;
}

.cssload-square--mini:nth-child(4n+3) {
	left: 50%;
}

.cssload-square--mini:nth-child(4n+4) {
	left: 75%;
}

.cssload-square--mini:nth-child(5),
.cssload-square--mini:nth-child(6),
.cssload-square--mini:nth-child(7),
.cssload-square--mini:nth-child(8) {
	top: 25%;
}

.cssload-square--mini:nth-child(9),
.cssload-square--mini:nth-child(10),
.cssload-square--mini:nth-child(11),
.cssload-square--mini:nth-child(12) {
	top: 50%;
}

.cssload-square--mini:nth-child(13),
.cssload-square--mini:nth-child(14),
.cssload-square--mini:nth-child(15),
.cssload-square--mini:nth-child(16) {
	top: 75%;
}

.cssload-square--mini:nth-child(2),
.cssload-square--mini:nth-child(5) {
	animation-delay: 115ms;
		-o-animation-delay: 115ms;
		-ms-animation-delay: 115ms;
		-webkit-animation-delay: 115ms;
		-moz-animation-delay: 115ms;
}

.cssload-square--mini:nth-child(3),
.cssload-square--mini:nth-child(6),
.cssload-square--mini:nth-child(9) {
	animation-delay: 230ms;
		-o-animation-delay: 230ms;
		-ms-animation-delay: 230ms;
		-webkit-animation-delay: 230ms;
		-moz-animation-delay: 230ms;
}

.cssload-square--mini:nth-child(4),
.cssload-square--mini:nth-child(7),
.cssload-square--mini:nth-child(10),
.cssload-square--mini:nth-child(13) {
	animation-delay: 345ms;
		-o-animation-delay: 345ms;
		-ms-animation-delay: 345ms;
		-webkit-animation-delay: 345ms;
		-moz-animation-delay: 345ms;
}

.cssload-square--mini:nth-child(8),
.cssload-square--mini:nth-child(11),
.cssload-square--mini:nth-child(14) {
	animation-delay: 460ms;
		-o-animation-delay: 460ms;
		-ms-animation-delay: 460ms;
		-webkit-animation-delay: 460ms;
		-moz-animation-delay: 460ms;
}

.cssload-square--mini:nth-child(12),
.cssload-square--mini:nth-child(15) {
	animation-delay: 575ms;
		-o-animation-delay: 575ms;
		-ms-animation-delay: 575ms;
		-webkit-animation-delay: 575ms;
		-moz-animation-delay: 575ms;
}

.cssload-square--mini:nth-child(16) {
	animation-delay: 690ms;
		-o-animation-delay: 690ms;
		-ms-animation-delay: 690ms;
		-webkit-animation-delay: 690ms;
		-moz-animation-delay: 690ms;
}



@keyframes cssload-squaremini {
	0%, 100% {
		transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(30,63,87);
	}
	12.5%, 62.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(60,97,125);
	}
	25%, 75% {
		transform: translateZ(125px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(60,97,125);
	}
	37.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(107,178,205);
	}
	50% {
		transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(107,178,205);
	}
	87.5% {
		transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(30,63,87);
	}
}

@-o-keyframes cssload-squaremini {
	0%, 100% {
		-o-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(30,63,87);
	}
	12.5%, 62.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(60,97,125);
	}
	25%, 75% {
		-o-transform: translateZ(125px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(60,97,125);
	}
	37.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(107,178,205);
	}
	50% {
		-o-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(107,178,205);
	}
	87.5% {
		-o-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(30,63,87);
	}
}

@-ms-keyframes cssload-squaremini {
	0%, 100% {
		-ms-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(30,63,87);
	}
	12.5%, 62.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(60,97,125);
	}
	25%, 75% {
		-ms-transform: translateZ(125px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(60,97,125);
	}
	37.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(107,178,205);
	}
	50% {
		-ms-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(107,178,205);
	}
	87.5% {
		-ms-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(30,63,87);
	}
}

@-webkit-keyframes cssload-squaremini {
	0%, 100% {
		-webkit-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(30,63,87);
	}
	12.5%, 62.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(60,97,125);
	}
	25%, 75% {
		-webkit-transform: translateZ(125px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(60,97,125);
	}
	37.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(107,178,205);
	}
	50% {
		-webkit-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(107,178,205);
	}
	87.5% {
		-webkit-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(30,63,87);
	}
}

@-moz-keyframes cssload-squaremini {
	0%, 100% {
		-moz-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(10deg);
		background-color: rgb(30,63,87);
	}
	12.5%, 62.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(60,97,125);
	}
	25%, 75% {
		-moz-transform: translateZ(125px) rotateX(-20deg) rotateY(10deg) rotateZ(-10deg);
		background-color: rgb(60,97,125);
	}
	37.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(107,178,205);
	}
	50% {
		-moz-transform: translateZ(125px) rotateX(20deg) rotateY(-10deg) rotateZ(5deg);
		background-color: rgb(107,178,205);
	}
	87.5% {
		-moz-transform: translateZ(0) rotateX(0) rotateY(0);
		background-color: rgb(30,63,87);
	}
}